services:
    node0:
        container_name: node0
        image: cassandra-prom
        build:
            context: .
            dockerfile: Dockerfile
        networks:
            - cassandra-net
        volumes:
            - cassandra-vol-0:/var/lib/cassandra
        healthcheck:
            test: ["CMD-SHELL", "[ $$(nodetool statusgossip) = running ]"]
            interval: 30s
            timeout: 10s
            retries: 5
    node1:
        container_name: node1
        image: cassandra-prom
        build:
            context: .
            dockerfile: Dockerfile
        networks:
            - cassandra-net
        volumes:
            - cassandra-vol-1:/var/lib/cassandra
        depends_on:
            node0:
                condition: service_healthy
        environment:
            - CASSANDRA_SEEDS=node0
        healthcheck:
            test: ["CMD-SHELL", "[ $$(nodetool statusgossip) = running ]"]
            interval: 30s
            timeout: 10s
            retries: 5
    node2:
        container_name: node2
        image: cassandra-prom
        build:
            context: .
            dockerfile: Dockerfile
        networks:
            - cassandra-net
        volumes:
            - cassandra-vol-2:/var/lib/cassandra
        depends_on:
            node0:
                condition: service_healthy
            node1:
                condition: service_healthy
        environment:
            - CASSANDRA_SEEDS=node0,node1
        healthcheck:
            test: ["CMD-SHELL", "[ $$(nodetool statusgossip) = running ]"]
            interval: 30s
            timeout: 10s
            retries: 5
    prom:
        container_name: prom
        image: prom/prometheus
        networks:
            - cassandra-net
        ports:
            - 9090:9090
        volumes:
            - type: bind
              source: ./prometheus/prometheus.yaml
              target: /etc/prometheus/prometheus.yml
    grafana:
        container_name: grafana
        image: grafana/grafana
        networks:
            - cassandra-net
        ports:
            - 3000:3000
networks:
    cassandra-net:
        name: cassandra-net
        external: true
volumes:
    cassandra-vol-0:
    cassandra-vol-1:
    cassandra-vol-2: